body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sw-resp h1 {
  color: brown;
}

.sw-resp p {
  display: inline-flex;
  color: chocolate;
  margin: 15px;
}

.sw-resp li{
  background-color: bisque;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}