* {
    padding: 0;
    margin: 0;
}

.cardsArr {
    padding: 30px;
    margin: 25px;
}

/**/

/* cars style*/

.card {
    margin: 10px;
    padding: 25px 0 15px 0;
    border: 0px transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px black;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    background-color: white;
}

.card {
    transition: 1s;
    height: 370px;
    width: 260px;
}

.card:hover {
    transition: 1s;
    transform: perspective(500px);
    transform-origin: 50% center -80px;
    z-index: 1;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.card .price {
    padding: 15px;
}

.card .price p {
    font-size: 3em;
}

.card .price dd {
    color: rgba(0, 0, 0, 0.219);
    font-size: 1.3em;
}

.card .ctics p {
    margin: 15px 0 15px 0;
}

.card .btn {
    margin: 35px auto 10px auto;
    width: 110px;
    height: 20px;
    border-radius: 10px;
    align-self: center;
    padding: 15px 0 15px 0;
}

.card .btn a {
    color: white;
    text-decoration: none;
    display: block;
    height: inherit;
    text-transform: uppercase;
}

/**/

/*different colors*/

.crimHr {
    color: #c73756;
}

.crimBtn {
    background-color: #c73756;
}

.orangeHr {
    color: #d7913b;
}

.orangeBtn {
    background-color: #d7913b;
}

.blueHr {
    color: #2b6689;
}

.blueBtn {
    background-color: #2b6689;
}

.greenHr {
    color: #63bb34;
}

.greenBtn {
    background-color: #63bb34;
}