:root {
    --input-def-height: 9rem;
    --input-def-width: 30rem;
    --input-main-color: #212121;
    --input-secondary-color: #0d7377;
    --input-third-color: #32e0c4;
    --input-fourth-color: #eeeeee;
}

.weatherRoot * {
    margin: 0;
    color: var(--input-main-color);
}

.weatherRoot h1, .weatherRoot h2, .weatherRoot h3, .weatherRoot h4, .weatherRoot h5, .weatherRoot b {
    color: var(--input-secondary-color);
}

.currentWeather, .fWContainer {
    border: 1px solid var(--input-secondary-color);
    border-radius: 1rem;
    background-color: var(--input-fourth-color);
    width: var(--input-def-width);
    height: var(--input-def-height);
    padding: 1rem;
}

.currentWeather {
    margin: 2rem 2rem 0;
}

.currentWeather .curWeathTop, .currentWeather .curWeathBot {
    padding: .2rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.currentWeather .iconBlock {
    display: block;
    text-align: center;
}

.currentWeather .iconBlock img {
    width: 4rem;
}

.currentWeather p {
    margin-bottom: .2rem;
}

.fWContainer {
    display: flex;
    font-size: .8rem;
    margin: 0 2rem 2rem;
}

.fWContainer .forecastWeather {
    padding: .3rem;
    text-align: center;
}

.fWContainer .forecastWeather:not(:last-child) {
    border-right: 1px solid black;
}

.fWContainer .forecastWeather img {
    width: 3rem;
}